// COLORS
$brand-black: #4f5059;
$brand-blacker: #292a34;
$brand-white: #FFF;
$brand-light: #d1e2ea;
$brand-hover: $brand-black;
$brand-dark: #455057;
$brand-primary: #246681;

// TYPOGRAPHY
$brand-font-size-base: 1rem;
$brand-font-headline: "Roboto Mono", sans-serif;
$brand-font-headline-alt: "Montserrat", sans-serif;
$brand-h3-font: "Montserrat", sans-serif;
$brand-h3-font-weight: 300;
$brand-font-body: "Nunito Sans", sans-serif;
$brand-font-size: 16;
$brand-line-height: 24;

$headings-font-family: $brand-font-headline;
$headings-color: $brand-blacker;
$light: $brand-light;
$dark: $brand-dark;
$primary: $brand-primary;

// 18px
$brand-font-body-size: $brand-font-size-base * 1.125;

// 64px
$h1-font-size: $brand-font-size-base * 4;
$h1-font-size-sm: $brand-font-size-base * 3.2;

// 50px
$h2-font-size: $brand-font-size-base * 3.125;
$h2-font-size-sm: $brand-font-size-base * 2.6;

// 40
$h3-font-size: $brand-font-size-base * 2.5;

// 30
$h4-font-size: $brand-font-size-base * 1.875;

// 20
$h5-font-size: $brand-font-size-base * 1.25;

// 18px
$h6-font-size: $brand-font-body-size;

// SPACING
$spacing-0: 0rem;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;

// HEADER HEIGHTS
$header-height-sm: 54px;
$header-height-md: 58px;
$header-height-lg: 64px;

// BORDERS & SHADOWS
$border-radius-base: 8px;
$box-shadow-base: 0 4px 4px rgba(0, 0, 0, 0.2);
