body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $brand-white;
  color: $brand-black;
  font-family: $brand-font-body;
  font-size: 16px;
  letter-spacing: 0.031em;
  line-height: 1.875em;
  text-transform: none;
}

img {
  max-width: 100%;
  height: auto;
}
