h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  .text-light & {
    color: $brand-white;
  }
}

h1,
.h1 {
  letter-spacing: 1.14px;
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size-sm;
  }
  @include media-breakpoint-up(lg) {

  }
}

.h2, h2 {
  line-height: 1.3;
  letter-spacing: 0.89px;

  @include media-breakpoint-down(md) {
    font-size: $h2-font-size-sm;
  }
}

.h3, h3 {
  letter-spacing: 0.71px;
}

.h5, h5 {
  font-family: $brand-font-headline-alt;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.36px;
}

.h-intro {
  font-size: $brand-font-body-size;
}

.h6, h6 {
  font-family: $brand-font-headline-alt;
  text-transform: uppercase;
  color: $brand-black;
}

body,
.text-smallish {
  font-size: $brand-font-body-size;
  line-height: 1.5em;
}

.text-smallish {
  font-size: $brand-font-size + px;
}

.text-light.text-light {
  color: $brand-light !important;
}