@import "mixins.unit";
@import "mixins.spacings";

// @include font-size(16, 24);
@mixin font-size($size: $brand-font-size, $line-height: $brand-line-height) {
  @if ($size== null) {
    $size: 16;
  }
  @if ($line-height== null) {
    $line-height: 16;
  }
  font-size: $size + px;
  font-size: rem-calc($size);
  line-height: $line-height + px;
  line-height: rem-calc($line-height);
}

@mixin brand-transition($timing: 200ms, $property: all) {
  transition: $timing $property ease-out;
}

@mixin invert {
  color: $brand-white;
  a {
    color: $brand-white;
  }
}
