.list-inline {
  padding-left: 0;
  list-style: none;
  .list-inline-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.p-relative {
  position:relative;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}
