.home,
.page-template-front-page {

  .section {
    &-intro {
      padding-bottom: 7rem;
  
      .logo-virality {
        width: 266px;
      }
  
      .kit-container {
        position: relative;
      }
  
      @include media-breakpoint-up(sm) {
        background-image: url("/wp-content/themes/viralitydiagnostics/images/splash-page/blob-big.svg");
        background-position: 0 12%;
        background-repeat: no-repeat;
      }
  
  
      @include media-breakpoint-up(lg) {
        .kit-in-box {
          position: absolute;
          left: 46%;
          bottom: -43%;
          width: 74%;
        }
      }
  
  
      @include media-breakpoint-up(xl) {
        .kit-in-box {
          bottom: -51%;
        }
      }
    }
  
    &-kit {
      padding-top: 7rem;
      padding-bottom: 7rem;
  
      @include media-breakpoint-up(lg) {
        .content-parent {
          &:before {
            content: url("/wp-content/themes/viralitydiagnostics/images/splash-page/cool-scientist.jpg");
            position: absolute;
            right: 90%;
          }
        }
      }
    }
  
    &-what-offer {
      padding-top: 7rem;
      padding-bottom: 7rem;
  
      .product-image {
        max-width: 85%;
      }
    }
  
    &-our-strategy {
      background-image: url("/wp-content/themes/viralitydiagnostics/images/splash-page/bg-section-our-strategy.jpg");
      background-position: 100% 10%;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  
    &-personnel {
      padding-top: 7em;
      padding-bottom: 7rem;
  
      .personnel-list {
        > li:not(:last-child) {
          margin-bottom: 6rem;
        }
      }
  
      .portrait {
        // margin-top: 1rem;
        margin-bottom: 1rem;
      }
  
      @include media-breakpoint-up(md) {
        .row-even {
          flex-direction: row-reverse;
        }
  
        .portrait-col {
          background-image: url("/wp-content/themes/viralitydiagnostics/images/splash-page/blob-portrait.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }
  
        .portrait {
          margin-right: 3rem;
          margin-top: 5rem;
        }
  
        .bio-col {
          padding-top: 10rem;
        }
  
        .row-odd {
          .portrait-col {
            text-align: right;
          }
  
          .portrait {
            margin-right: 3rem;
          }
        }
  
        .row-even {
          .portrait {
            margin-left: 3rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {}
}